{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">To-Do App</h1>
        <p class="lead">Just another to-do app.</p>
    </div>


    <div class="col pt-3 ">
        <div>
            <h2>Items</h2>
            <ul class="list-group">
                {% for item in items %}
                    <a class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"> {{ item.title }} </h5>
                            {% if item.status == "Not Started" %}
                                <form action="/complete" method="post">
                                    <button name="completeBtn" class="btn btn-primary btn-sm" type="submit"
                                            value={{ item.id }}>Complete
                                    </button>
                                </form>

                            {% else %}

                                <form action="/uncomplete" method="post">
                                    <button name="uncompleteBtn" class="btn btn-primary btn-sm" type="submit"
                                            value={{ item.id }}>Undo Complete
                                    </button>
                                </form>

                            {% endif %}

                        </div>
                        <small> {{ item.status }}</small>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col pt-3 ">
        <form action="/add" method="post" class="add-item">
            <div class="input-group mb-3 w-100">

                <input type="text" class="form-control" placeholder="Add new item" aria-label="Add new item"
                       aria-describedby="button-addon" name="title" required>
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" id="button-addon"> </input>
                </div>


            </div>
        </form>
    </div>

{% endblock %}