{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">To-Do App</h1>
        <p class="lead">Just another to-do app.</p>
    </div>


    <div class="col pt-3 ">
        <div>
            <h2>Items</h2>
            <ul class="list-group">
                {% for item in view_model.items %}
                    <a class="list-group-item">
                        <div class="d-flex flex-row justify-content-between">
                            <h5 class="mb-1"> {{ item.title }} </h5>
                            <div class="d-flex flex-row ">
                                {% if item.status == "Not Started" %}
                                    <form action="{{ url_for("completeItem") }}" method="post">
                                        <button name="completeBtn" class="btn btn-outline-primary btn-sm" type="submit"
                                                value={{ item.id }}>Complete
                                        </button>
                                    </form>

                                    <button name="editBtn" class="btn btn-outline-warning btn-sm  ml-3" type="submit"
                                        data-toggle="modal" data-target="#editModal-{{ item.id }}">
                                    Edit
                                </button>
                                <div id="editModal-{{ item.id }}" class="modal fade" tabindex="-1" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">{{ item.title }}</h4>
                                            </div>
                                            <div class="modal-body">
                                                 <label for="description">Description</label>
                                                <form action="{{ url_for("editItemDesc") }}" method="post"
                                                      class="edit-desc">
                                                    <div class="input-group mb-3 w-100">

                                                        <input id = "description" type="text" class="form-control"
                                                               value="{{ item.desc }}" aria-label="Edit item"
                                                               aria-describedby="button-edit" name="desc" required>
                                                        <div class="input-group-append">
                                                            <button name="updateDescBtn" class="btn btn-outline-secondary"
                                                                    type="submit"
                                                                    id="button-edit" value= {{ item.id }}> Update
                                                            </button>
                                                        </div>


                                                    </div>
                                                </form>
                                                <form action="{{ url_for("editItemDueDate") }}" method="post"
                                                      class="edit-date">
                                                    <label for="date">Due date</label>
                                                    <div class="form-group d-flex flex-row justify-content-between">

                                                        <input class="form-control" id="date" name="date"
                                                               placeholder="DD/MM/YYY" type="text"/>

                                                        <button name = "updateDateBtn" class="btn btn-outline-secondary " name="submit" type="submit" value= {{ item.id }}>
                                                            Submit
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                                    Close
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                {% else %}

                                    <form action="{{ url_for("undoCompleteItem") }}" method="post">
                                        <button name="uncompleteBtn" class="btn btn-outline-primary btn-sm"
                                                type="submit"
                                                value={{ item.id }}>Undo Complete
                                        </button>
                                    </form>

                                {% endif %}




                                <form action="{{ url_for("removeItem") }}" method="post">
                                    <button name="removeBtn" class="btn btn-outline-danger btn-sm  ml-3" type="submit"
                                            value={{ item.id }}>Remove
                                    </button>
                                </form>
                            </div>
                        </div>
                        <p class="mb-1"> {{ item.desc }}</p>

                        </form>
                    <div class ="d-flex flex-row">
                        <small class="badge rounded-pill bg-dark text-light mr-1"> {{ item.status }}</small>
                        <small class="badge rounded-pill bg-dark text-light"> {{ item.due }}</small>
                    </div>

                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="col pt-3 ">
        <form action="{{ url_for("addItem") }}" method="post" class="add-item">
            <div class="input-group mb-3 w-100">

                <input type="text" class="form-control" placeholder="Add new item" aria-label="Add new item"
                       aria-describedby="button-addon" name="title" required>
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" id="button-addon"> </input>
                </div>


            </div>
        </form>
    </div>

{% endblock %}